body, html {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url('Bild_Bibiliothek.png') no-repeat center center fixed;
  background-size: cover;
}

.login-box {
  background: rgba(255, 255, 255, 0.9);
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  text-align: center;
  width: 100%;
  max-width: 400px;
}

h2 {
  font-size: 28px;
  margin-bottom: 10px;
}

p {
  color: #666;
  margin-bottom: 30px;
}

.form-group {
  margin-bottom: 20px;
  text-align: left;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-group input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 14px;
}

button {
  background: #333;
  color: #fff;
  border: none;
  padding: 12px 20px;
  width: 100%;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

button:hover {
  background: #555;
}

.links {
  margin-top: 20px;
}

.links a {
  display: block;
  color: #007bff;
  text-decoration: none;
  margin: 5px 0;
  font-size: 14px;
}

.links a:hover {
  text-decoration: underline;
}

.logo {
  width: 150px;
  height: auto;
  margin-bottom: 20px;
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.buttons button {
  width: 48%;
  background: #28a745; /* Green background */
  color: #fff;
  border: none;
  padding: 12px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.buttons button:hover {
  background: #218838; /* Darker green on hover */
}